.container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 2rem;

    main {
        background-color: bisque;
    }

    main:first-child {
        margin-top: 2rem;
    }

    main:last-child {
        margin-bottom: 2rem;
    }
}
