.btns {
    @include btns-default;
    @include flexlayout-default;
    @include flexlayout-center;
    gap: $flex-gap-default*1.5;

    margin-top: $margin-default*0.5;

    svg {
        width: $width-default*0.3;
        height: $width-default*0.3;
    }
}