#root {
    text-align: center;
    min-width: $website-min-width;
    color: $font-color-default;
    background-color: $main-background-color;

    display: grid;
    grid-template-rows: auto 1fr auto; /* 导航栏 - 内容栏 - footer 的布局效果 */
    flex-grow: 0;
    // min-height: 100vh; /* 确保至少占满屏幕 */
}

#root > .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0; // 让它严格贴合视口宽度（不要靠 width:100% + min-width 撑）
    height: $height-default;
    z-index: 100; // 这个是保证下拉列表不会到首页页面下的关键
    // flex: $height-default;
}

#main-content {
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - #{$height-default});
    background-color: $content-background-color;
}

#root > footer {
    width: 100%;
    max-height: calc($height-default * 2);
}
