html {
    @include scrollbar-styling;
    min-width: 1260px;
    overflow-x: auto;
}

@media only screen and (max-width: 1259px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1260px) {
    html {
        font-size: 16px;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: $font-family-styles;

    &::before,
    &::after {
        box-sizing: $layout-box-model !important;
    }
}

button {
    @include btns-default; // 导入复用组件
}
