# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 隐藏环境变量
.env
.env.local
.env.*.local

# 依赖（末尾加斜杠，通配所有子目录）
**/node_modules/

# 打包结果
client/dist/
client/dist-ssr/
*.local

soluna.tar.gz

deploy/
deploy.ps1
deploy.sh
deploy.pm2.sh

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
