.content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 1.5rem 0rem;

    overflow-y: scroll;
    scrollbar-width: thin;

    .link {
        @include hyperlink-default;

        position: relative;
        margin: 0rem 1rem;

        display: flex; // <a>默认是 inline-block
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.3rem;
        padding-left: 2.7rem;

        svg {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0.5rem;
        }

        .res-title {
            font-weight: 800;
        }

        .res-desc {
            text-align: left;
            font-size: 0.9rem;
        }
    }
}
