.btn {
    @include btns-bg-default;

    color: $font-color-default; // 深色
    padding: calc($padding-default*1.2) calc($padding-default*1.6);

    p {
        font-size: $font-size-md;
    }

    &:hover {
        color: #ececec;
        transform: scale(1.2rem);
        background-color: $dark-background-default;
    }

    .arrow {
        max-height: calc($height-default * 0.2);
        max-width: calc($height-default * 0.2);
        margin-top: 1.2px;
    }
}