.toggle-btn {
    position: absolute;
    top: 1.8rem;
    right: 1rem; // 侧边栏打开时在内部

    width: 1.3rem;
    height: 1.3rem;
    background-color: transparent;
    cursor: e-resize;

    transition: right 0.3s ease; // 添加过渡动画

    svg {
        width: 100%;
        height: 100%;
    }
}

.close {
    width: 1.5rem;
    height: 1.5rem;
    right: -2rem;
    transition: right 0.3s ease 0.5s;

    svg {
        rect,
        path {
            stroke: rgba(250, 120, 21, 0.895);
        }
    }
}
