.container {
    display: grid;
    grid-template-rows: auto;
    overflow-y: scroll;

    place-items: center;
}

.chart {
    width: 100%;
    height: 20rem; // 固定每一个图表的高度

    display: grid;
    grid-template-columns: 1fr 1fr; /* 大类和小类各占一半 */
    gap: 2rem;

    main {
        width: 100%;
        height: 100%;
    }
}
