.indexPage {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.intro {
    text-align: left;
    margin-left: 1rem;
    display: inline-flex;
    gap: 1.5rem;
    flex-direction: column;
    position: absolute;
    backdrop-filter: blur(2px);
    top: 20%;
    right: 10%;
    color: #FFFFFF
}

.table {
    width: fit-content;
    text-align: left;
}

.para {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.active {
    font-weight: bold;
    color: rgb(31, 86, 120);
    background-color: rgb(201, 235, 255);
}