.dropdown-menu {
    @include list-default;

    li {
        padding: $padding-default * 1.5; // 控制下拉列表内容的间距
        cursor: pointer;

        button {
            @include btns-default; // 不涉及背景颜色
            @include btns-bg-default; //修改背景颜色为透明（选择性添加）

            border-radius: $border-radius-default;
            font-size: 1.04rem;
        }

        &:hover {
            background-color: bisque;
        }
    }

    // ✨ 项目之间添加边框，不会在第一个项目之前或最后一个项目之后添加边框
    li + li {
        border-top: 1px solid #e0e0e0;
    }
}
