.nav-menu-btns {
    @include btns-default; // 不涉及背景颜色
    @include btns-bg-default;

    font-size: 0.9rem;
    padding: $padding-default;

    &:hover {
        color: rgba(190, 95, 1, 0.8);
        font-weight: 600;
    }
}
