.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;

    box-sizing: border-box;
    margin: 0rem 1rem;
}

.lists {
    grid-column: 1/2;
    grid-row: 1/2;
}

.slide {
    grid-column: 2/3;
    grid-row: 1/3; /* 跨两行 */
}

.chart {
    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20rem;

    svg {
        text {
            font-size: 0.9rem;
            fill: rgb(0, 0, 0);
        }
    }
}
