.top {
    position: relative;
    padding: 1.5rem 0rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;

    padding-left: $padding-default;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #fff5ee;
    border-bottom: 1px solid #ff7300;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

    .desc {
        font-size: 0.8rem;
    }
}
