.plan-page {
    @include flexlayout-default-column;
    gap: $flex-gap-default;

    box-sizing: border-box;
    padding: $padding-default*2 $padding-default; // 使用 margin 的话，与 <main> 的 id 标签有冲突
}

.current-todos {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .todos {
        background-color: darkorange;
        position: relative;

        text-align: left;
        padding: $padding-default;

        .date-check {
            display: flex;
            gap: $flex-gap-default;
            align-items: flex-start;
            justify-content: space-between;

            border-bottom: 1px solid black;

            padding-bottom: $padding-default*0.5;

            .year-month-day {}

            .checkbox-select {
                display: inline-flex;
                gap: 2rem;

                input[type='checkbox'] {
                    opacity: 0;
                    position: absolute;
                    width: 0;
                    height: 0;
                }

                label {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    gap: 5px;
                    cursor: pointer;

                    &::before {
                        content: '';
                        width: 1rem;
                        height: 1rem;
                        box-sizing: border-box;
                        border: 1px solid white;
                        border-radius: 50%;
                    }
                }

                input[type='checkbox']:checked+label::before {
                    background-color: darkgoldenrod;
                }

                input[type="checkbox"]:checked+label::after {
                    content: "";
                    position: absolute;
                    left: 0.3rem;
                    top: 0.3rem;
                    width: 6px;
                    height: 10px;
                    border: 2px solid #fff;
                    border-top: none;
                    border-left: none;
                    transform: rotate(45deg);
                }
            }
        }

        .plans-todos {
            display: flex;
            gap: 2rem;
            padding-top: $padding-default;

            .plan {
                display: inline-block;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    position: absolute;
                }

                label {
                    position: relative;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;

                    gap: 1rem;
                    cursor: pointer;

                    &::before {
                        content: '';
                        width: 1rem;
                        height: 1rem;
                        box-sizing: border-box;
                        border: 1.5px solid black;
                    }
                }

                input[type="checkbox"]:checked+label {
                    color: grey;
                    text-decoration: line-through;
                }

                input[type="checkbox"]:checked+label::before {
                    border-color: grey;
                }

                input[type="checkbox"]:checked+label::after {
                    content: '';
                    width: 5px;
                    height: 10px;
                    position: absolute;
                    color: grey;
                    top: 0.3rem;
                    left: 0.3rem;
                    border: 2px solid grey;
                    border-top: none;
                    border-left: none;
                    transform: rotate(45deg);
                }
            }

            // 控制已完成模块暂停显示的
            .plan.just-mode input[type="checkbox"]:checked+label {
                transform: scale(0);
                transform-origin: left;
                transition: transform 0s ease;
            }

            .tags {
                display: inline-flex;
                gap: 0.5rem;
                align-items: flex-end;


                span {
                    font-size: 0.6rem;
                    color: white;
                    background-color: firebrick;

                    padding: 3px;
                    border-radius: 5px;

                }
            }
        }

        // 添加当日任务的按钮
        .add-todos {
            position: absolute;
            bottom: 5px;
            right: 5px;

            border-radius: 50%;
            width: $width-default*0.3;
            height: $height-default*0.3;

            span {
                font-size: 0.9rem;
                text-align: center;
                line-height: $height-default*0.3; // 垂直对称的关键
            }
        }
    }

    .chart {
        background-color: aquamarine;
    }
}

.past-future {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .todos-list {
        background-color: olivedrab;

        .select {}

        .content {}
    }

    .todos-display {
        background-color: rgb(255, 244, 157);
    }
}

.visilize {
    background-color: deeppink;
}