.nav {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;

    // 实现各种意义上的居中，如果只是设置 `jusity-items`，那也只能实现一部分居中
    place-items: center;

    height: 100%; // 撑满 header 的整个高度
    background-color: $navigate-background-color;
    border-bottom: $border-split-module;
    padding: 0rem $padding-default;

    svg {
        overflow: hidden;
        width: 90%;
        height: $height-default;
    }
}
