.container {
    position: relative;
    background-color: #ffe8d8;

    .svg {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        pointer-events: none; // 确定是否成为鼠标事件的 target
        overflow: visible;
        z-index: 2; // 保证化的线不会被压到

        transition: all 0.5s ease;

        path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: drawLine 1.5s ease forwards;
        }
    }

    .sec-nav-link {
        @include hyperlink-default;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        background-color: inherit;
        width: 100%;
        padding: 1rem 0rem;

        .text {
            position: relative;
            z-index: 3; // 确定文字在最上面
        }

        &.active .text {
            // display: inline-block;
            color: white;
            font-size: 1.05rem;
            letter-spacing: 2px;
            font-weight: 800;
            transform: translateY(-8px);
            transition: transform 0.5s ease;
        }
    }
}

// svg
@keyframes drawLine {
    to {
        stroke-dashoffset: 0;
    }
}
