.desc {
    font-size: 0.8rem;
}

.link {
    position: absolute;
    right: 1rem;

    @include btns-default;
    @include btns-bg-default;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;

    svg {
        width: 15px;
        height: 15px;
        --icon-color: #8c8c8c;
    }

    &:hover {
        color: #a91900;
        font-weight: 800;

        svg {
            --icon-color: #a91900;
        }
    }
}
