.content-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
    margin: $margin-default $margin-default * 2;
}

.singleContent {
    position: relative;
    padding: 1.5rem 0rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;

    padding-left: $padding-default;

    border-radius: 15px;
    background-color: #fff5ee;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.2);
}
