.carousel {
    grid-column: 2/3;
    grid-row: 1/3; /* 跨两行 */

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; // 把超出屏幕的 slide 挡住
    position: relative; // 让绝对定位箭头以它为参照

    .inner {
        position: relative;

        display: flex;
        width: 100%;

        transition: transform 300ms ease;
        will-change: transform;

        .image {
            position: relative;
            width: 100%;
            // background-size: contain; // cover - 裁剪成适合容器的；contain - 保留原大小占据容器
            // background-repeat: no-repeat;
            // background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex: 0 0 100%; // 控制一张占一屏

            img {
                max-width: 100%;
                max-height: 100%;
                height: 40rem;
                object-fit: contain;
            }
        }
    }

    button {
        @include btns-default;
        background-color: transparent;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        svg {
            width: 2rem;
            height: 2rem;
        }

        &.arrowPrev {
            left: 1rem;
        }

        &.arrowNext {
            right: 1rem;
        }
    }
}
