.aside {
    position: relative;
    background: #c2c2c2;
    border-right: 1px solid #ddd;
    transition: width 0.3s ease;
}

/* button要悬浮,送一使用absolute */
.aside button {
    position: absolute;
    top: 50%;
    right: 0rem;
    transform: translate(50%, -50%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.aside button svg {
    width: 1.5rem;
    height: 1.5rem;
}

.navigation {
    overflow: hidden;
}

.aside.open {
    width: 12rem;
}

.aside.close {
    width: 0;
}