.content {
    top: calc(100% - 5px);

    @include position-absolute-default; // 定义 absolute 定位

    min-width: $width-default*2;

    background: $main-background-color;
    border-radius: $border-radius-default*0.5;
    padding: $padding-default*0.5;

    box-shadow: $box-shadow-navigation-content;

    @include navigation-content-fade-out;

    ul li {
        @include list-default;

        button {
            @include btns-default;

            font-size: $font-size-md;
            padding: $padding-default*0.5;
            color: $font-color-default;

            transition: background 0.2s, color 0.2s;
        }

        &:hover {
            background: $aside-background-color;
        }
    }
}