// 让 <a> 可以覆盖 <li> 的整个范围，实现高效的点击效果
.nav-list {
    // display: contents; // 使 li 不可见（若添加的话，下拉列表会找不准位置）
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        @include hyperlink-default;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: $padding-default;
        box-sizing: border-box;

        &:hover {
            font-weight: 800;
        }

        /* 点击后状态保持 */
        &.active {
            font-weight: 800;
            @include font-linear-default;
        }
    }
}
