.nav {
    background-color: #FAFAFA;
    display: grid;
    /* 固定两侧的宽度 */
    grid-template-columns: 15rem 1fr 15rem;
    justify-content: center;
    align-items: center;
    gap: 5em;
    height: 100%;
    border-bottom: 1px solid #DDDDDD;
}

.logo {
    align-items: center;
    overflow: hidden;
    width: 80%;
    text-align: center;
    background-size: contain;
}

/* 导航部分 */
.ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 1.5em; */
    align-items: center;
    justify-content: center;
    list-style: none;
}

.ul li {
    text-align: center;
    padding: .8rem;
    font-size: 1.1rem;
}

.ul li a {
    text-decoration: none;
    color: black;
}

.ul .recap {
    position: relative;
}

.goBack {
    width: 10rem
}

.goBack button {
    font-size: .9rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
}