.dropdown-menu {
    @include list-default;

    .link {
        @include hyperlink-default;
        padding: $padding-default * 1.5; // 控制下拉列表内容的间距
        cursor: pointer;

        font-size: 1.04rem;
        display: block;

        &:hover {
            background-color: bisque;
        }

        &::after {
            content: none;
        }
    }

    // ✨ 项目之间添加边框，不会在第一个项目之前或最后一个项目之后添加边框
    .link + .link {
        border-top: 1px solid #e0e0e0;
    }
}
