.btns {
    @include btns-default; // 不涉及背景颜色
    font-weight: 600;

    // flex布局
    @include flexlayout-default;
    @include flexlayout-center;
    gap: 0.2rem;

    border-radius: $border-radius-default;
}
