.btns {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    border: none;
}

.btns button {
    border: none;
}

.btns svg {
    width: 1.5rem;
    height: 1.5rem;
}