.mainContent {
    text-align: left;
    padding: 2rem;

    overflow-y: auto;

    line-height: 2;
    margin-left: $sidebar-max-width * 1.05;
    transition: margin 0.5s ease-in;

    &.close {
        margin-left: 2.5rem;
    }
}
