.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start; // ✨ 让两列独立，不互相撑高
    gap: 1rem;

    box-sizing: border-box;
    margin: 0rem 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    min-width: 0; // 关键！防止 grid 子元素被内容撑开
    min-height: 0;
    overflow: hidden;

    .lists {
        flex: auto;
    }

    .chart {
        flex: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 20rem;

        svg {
            text {
                font-size: 0.9rem;
                fill: rgb(0, 0, 0);
            }
        }
    }
}
