/* 导航部分 */
.ul {
    @include list-default;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    justify-content: space-around;
}

.drop-navigation {
    // 箭头
    a::after {
        display: inline-block;
    }
    @include active-arrow-navigation-default;

    // 是否显示 dropdown-list
    .dropdown-visibility {
        top: calc(100% - 5px);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-15px);
        transition: all 0.3s ease;
    }

    a:hover + .dropdown-visibility,
    .dropdown-visibility:hover {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
