@font-face {
    font-family: "fz-xingkai";
    src: url("/fonts/fz-xingkai.ttf") format("truetype");
    font-weight: 100 900;
}

@font-face {
    font-family: "bubbler-one";
    src: url("/fonts/bubbler-one.ttf") format("truetype");
}
