.sidebar {
    position: fixed;
    top: $height-default;

    width: $sidebar-max-width;
    min-height: calc(100vh - $height-default); // 让侧边栏保证占满高度
    background-color: $aside-background-color;

    display: flex;
    flex-direction: column; //控制目录标题和列表的布局的

    overflow: visible; // 水平溢出可见（按钮用）
    scrollbar-width: thin;

    transform: translateX(0);
    transition: all 0.5s ease-in;

    // 关闭侧边栏时的效果
    &.close {
        transform: translateX(-100%);

        // .toggle-btn { ... } 详见 AsidebarToggleBtns.module.scss 文件的 .close
    }
}
