.mainContent {
    text-align: left;
    padding: 2rem;

    overflow-y: auto;

    line-height: 2;
    transform: translateX(0);
    transition: transform 0.5s ease-in;

    &.close {
        transform: translateX(-$sidebar-max-width * 0.667);
    }
}
