.loading {
    text-align: center !important;
    padding: 1rem;
}

/* .progressBar {
  width: 80%;
  height: 10px;
  background: #eee;
  border-radius: 5px;
  margin: 0.5rem auto;
  overflow: hidden;
}

.progressFill {
  height: 100%;
  background: linear-gradient(90deg, #3b82f6, #06b6d4);
  transition: width 0.3s ease;
} */