.content {
    padding: $padding-default*1.5 $padding-default*3;

    ul {
        @include flexlayout-default-column;
        gap: $flex-gap-default;

        li {
            @include list-default;

            display: flex;
            align-items: center;
            gap: 0rem;

            &::after {
                content: '↗';
                font-size: .6rem;
                color: $font-color-default;
                margin-left: .3rem;
                align-items: flex-end;
            }
        }
    }
}


.future::before {
    flex-shrink: 0;
    @include square-default($font-color-default)
}

.complete::before {
    @include inline-flexlayout-default;
    @include flexlayout-center;
    @include square-default(green);
    content: "✓"; // 覆盖默认设置

    font-size: 0.8rem;
    font-weight: bold;
}