.ul li {
    @include list-default;
    color: $font-color-default;
    padding-right: $padding-default;
    cursor: pointer;

    display: inline-flex;
    gap: .2rem;

    &:hover {
        font-weight: 600;
    }

    &.active {
        text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.3);
        transform: scale(1.02);
    }
}