.lists {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    // 列表文字
    .text {
        @include list-default;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 60%;

        li {
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: baseline;

            button {
                @include btns-default;
                background-color: transparent;
                font-size: 1rem;
                padding-left: 1.2rem;
                justify-self: start; // 左对齐
            }

            span {
                display: block;
                justify-self: end; // 右对齐

                font-size: 0.75rem;
                color: #ccc;
            }

            svg {
                width: 0.75rem;
                height: 0.75rem;
            }

            &::before {
                content: '';
                display: inline-block;
                width: 1.1rem;
                height: 1.1rem;
                border: 1px solid black;
            }

            &.listActive {
                button {
                    color: #ce6000b1;
                }

                &::before {
                    content: '✓';
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.1rem;
                    height: 1.1rem;
                    color: #f48a20b1;
                    font-size: 1rem;
                    border: 1px solid #f48a20b1;
                }
            }
        }
    }
}
