.dashboard-container {
}

.heading-container {
    position: relative;
    padding: 3rem 0rem;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #fffdfb, #fdf2eb, #fffdfb);
    border-bottom: $border-split-module;

    display: flex;
    justify-content: space-evenly;

    .date {
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;

        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 0.5rem;

        font-size: 0.85rem;

        svg {
            width: 1rem;
            height: 1rem;
        }
    }

    .heading {
        width: 30rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.4rem;

        text-align: left;

        p {
            font-size: 0.8rem;
        }
    }

    .countdown {
        flex: 1;
        display: flex;
        gap: 1.5rem; // 多个倒计时之间的间距
        align-items: center;
        justify-content: center;
    }
}

.deadlineCard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; // card内部元素间距
    padding: $padding-default $padding-default * 2;
    border-radius: 10px;

    backdrop-filter: blur(5px);
    background-color: rgba(226, 99, 1, 0.055);
    border: 1px solid rgba(226, 99, 1, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

// 可以复用的倒计时标题样式
.title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    font-size: 1.1rem;
    font-weight: 600;

    .year {
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.3rem;
    }
}

.wholeCountdown {
    display: flex;
    gap: 0.8rem;
    padding: $padding-default;

    // background-color: honeydew;

    p {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 0.3rem;

        padding: 5px 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);

        span:nth-child(1) {
            font-family: Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.8rem;
        }

        span:nth-child(2) {
            font-size: 0.85rem;
        }
    }
}

.dateInput {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        width: 1rem;
    }

    p {
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;

        span {
            font-family: Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1rem;
        }
    }
}
