.selectBtn {
    @include btns-bg-default; // 透明背景颜色
    color: $font-color-default; // 深色

    padding: calc($padding-default * 1.2) calc($padding-default * 1.6);

    &:hover {
        color: #ececec;
        transform: scale(1.05);
        background-color: $dark-background-default;
    }

    p {
        font-size: $font-size-md;
    }

    svg {
        max-height: calc($height-default * 0.2);
        max-width: calc($height-default * 0.2);
        margin-top: 1.2px;
    }

    .light {
        stroke: #ececec;
    }

    .dark {
        stroke: black;
    }
}
