.index-link {
    @include hyperlink-default;
    @include flexlayout-default;
    @include flexlayout-center;
    gap: 0.2rem;

    border-radius: $border-radius-default;

    color: #f8f8f8;
    font-weight: 600;
    font-size: $font-size-sm;
    letter-spacing: 1px;

    background-color: #205373;

    padding: calc($padding-default * 0.8) $padding-default;

    &:hover {
        color: #205373;
        background-color: #c9ebff;
    }
}
