.container {
    flex: 1;
    text-align: left;
    line-height: 2;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container h2 {
    padding: 1.5rem 0rem 1rem 0rem;
    font-weight: 800
}

.container h4 {
    padding: .5rem 0rem;
    font-weight: 600
}

.container ol {
    font-weight: 800;
    padding-left: 1.5rem;
    margin-top: 1rem;
}


.container ul {
    padding-left: 2.5rem;

}

.container ol li,
.container ul li {
    margin: 0.25rem 0;
}

.container ol {
    list-style-type: decimal;
}

.container ul {
    list-style-type: disc;
}

/* 二级嵌套优化 */
.container ol ol,
.container ul ul {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding-left: 1.5rem;
}

.container ul ul {
    list-style-type: circle;
}

.container ol ol {
    list-style-type: lower-alpha;
}