html {
  @include scrollbar-styling;
}

@media only screen and (max-width: 840px) {
  html {
    font-size: $font-size-sm;
  }
}

@media only screen and (min-width: 841px) {
  html {
    font-size: $font-size-md;
  }
}


* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: $font-family-styles;

  &::before,
  &::after {
    box-sizing: $layout-box-model !important;
  }
}

button {
  @include btns-default; // 导入复用组件
}