.aside {
    min-height: 100vh;
    max-height: 100vh;
    background: #c2c2c2;
    border-right: 1px solid #ddd;
    transition: width 0.3s ease;
    position: fixed;
    /* 控制侧边栏的 absolute 显示 */
}

/* button要悬浮,送一使用absolute */
.aside button {
    position: absolute;
    top: calc(0vh + 8rem);
    right: 0rem;
    transform: translateX(50%);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.aside button svg {
    width: 1.5rem;
    height: 1.5rem;
}

.aside p {
    overflow: hidden;
}

.aside.open {
    width: 15rem;
}

.aside.close {
    width: 0;
}