.btns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.btns img {
    width: max-content;
    height: 30rem;
    border-radius: 50%;
}

.btns button {
    width: 10rem;
    color: #ffffff;
    margin-top: 1rem;
    padding: 0.8rem 1.1rem;
    background-color: #d84b6b;
    border: 1px solid #fecbd3;
    border-radius: 10px;
    cursor: pointer;
}

.btns button:hover {
    background-color: #c52d51;
}

// <dialog>
.resume {
    width: 99%;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    overflow-y: auto;
    margin: 0 auto;
    box-sizing: inherit;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 101;
}

.resume main {
    position: relative;
}

.resume button {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.resume button svg {
    width: 2rem;
    height: 2rem;
    text-align: start;
}

.pdf {
    width: max-content;
    height: 45rem;
    margin: 0 auto;
}
