.container {
    @include flexlayout-default;
    min-height: $plans-height-default;
    gap: $flex-gap-default*3;
    box-sizing: $layout-box-model;

    margin: 0 auto;
    margin-top: $margin-default;
}

.itemsSelect {
    width: $plans-weight-default;
    border-radius: $border-radius-default;
    border: $border-split-module;
}

.results {
    @include scrollbar-styling;
    width: $plans-weight-default*1.2;
    height: $plans-height-default
}