.btn {
    font-size: 0.9rem;
    letter-spacing: 1px;
    width: fit-content;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    background-color: rgb(31, 86, 120);
    padding: .6rem 1rem;
    margin-right: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    font-weight: bold;
    color: rgb(31, 86, 120);
    background-color: rgb(201, 235, 255);
}